events {}
http {
    server {
        listen 80;
        root /opt;
        location / {
            return 404;
        }
        location /{{ host_name }} {
            index {{file_name}};
            alias /opt/{{file_name}};
        }
    }
}
